<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CLang网站</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div>
  <img src="../static/images/ChineseLanguageLogo.png">
  <h1>欢迎来到CLang网站！</h1>
  <h2>CLang是一款基于Python图灵完备的解释型中文教学语言，适合中文母语编程初学者，下载解释器注册账号即可使用，这个项目完全免费并开源，快来试试吧！</h2>
  <h2>制作方：CNC工作室-猿编程社区</h2>
  <h2>最新消息：</h2>
  <p>1、CLang V1.4.2 更新完成。</p>
  <p>2、使用“jVn5”开发者激活码，获取完全开源账户，跳过pro激活，使用高级功能。</p>
  <p>3、本语言在GitHub上发布了。</p>
  <h2>一、版本介绍</h2>
  <table id="VTable" border="5">
    <tr>
      <th>版本号</th>
      <th>更新内容</th>
      <th>状态</th>
    </tr>
    <tr>
      <td>0.0.1</td>
      <td>项目诞生</td>
      <td>半废弃+纪念</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>废弃</td>
    </tr>
    <tr>
      <td>1.0.0</td>
      <td>第一个正式版</td>
      <td>废弃</td>
    </tr>
    <tr>
      <td>1.0.1</td>
      <td>函数系统诞生</td>
      <td>废弃</td>
    </tr>
    <tr>
      <td>1.1.0</td>
      <td>条件判断诞生</td>
      <td>旧</td>
    </tr>
    <tr>
      <td>1.1.1</td>
      <td>修复了一些bug</td>
      <td>旧</td>
    </tr>
    <tr>
      <td>1.2.0</td>
      <td>用户系统诞生</td>
      <td>比较旧</td>
    </tr>
    <tr>
      <td>1.2.1</td>
      <td>订阅系统诞生</td>
      <td>比较旧</td>
    </tr>
    <tr>
      <td>1.2.2</td>
      <td>Git仓库系统诞生</td>
      <td>比较旧</td>
    </tr>
    <tr>
      <td>1.3.0</td>
      <td>循环系统诞生</td>
      <td>新</td>
    </tr>
    <tr>
      <td>1.3.1</td>
      <td>随机数功能诞生</td>
      <td>新</td>
    </tr>
    <tr>
      <td>1.3.2</td>
      <td>添加了函数体内变量名错误提示</td>
      <td>新</td>
    </tr>
    <tr>
      <td>1.4.0</td>
      <td>修复了数学运算变量代入问题和函数调用模块重复导入问题</td>
      <td>新</td>
    </tr>
    <tr>
      <td>1.4.1</td>
      <td>添加列表功能</td>
      <td>新</td>
    </tr>
    <tr>
      <td>1.4.2</td>
      <td>修复字符串问题</td>
      <td>最新</td>
    </tr>
  </table>
  <h3>建议您在下载时获取以上表格中状态为新或最新的版本，更安全！！！</h3>
  <p>您也可以获取v0.0.1纪念版，阅读这个项目最初的代码。</p>
  <h3>CLang最新版为v1.4.0，更新内容：</h3>
  <p>1、数学运算时长的变量名会先被导入，更安全。</p>
  <p>2、函数调用时模块不用重复导入，一次即可，更便捷。</p>
  <h3>CLang会1~2个月更新一次，敬请期待！</h3>
  <h2>二、使用方法</h2>
  <h3>使用示例：</h3>
  <video width="500" height="370" controls>
  <source src="../static/images/使用方法.mp4" type="video/mp4">
  <source src="../static/images/使用方法.mp4" type="video/ogg">
  您的浏览器不支持Video标签。
  </video>
  <h3>使用步骤：</h3>
  <p>1、输入“注册（）”，注册账户，并重启解释器（若无账户）。</p>
  <p>2、输入“登录（）”，登录账户。</p>
  <p>3、输入代码文件路径，运行文件。</p>
  <p>4、输入“退出账户（）”，退出账户。</p>
  <p>5、输入“退出（）”，退出解释器。</p>
  <h2>三、关于订阅</h2>
  <p>订阅可以获得更多功能的使用权限。</p>
  <p>功能表格（-为可用，x为不可用）：</p>
  <table id="PTable" border="5">
    <tr>
      <th>功能名</th>
      <th>已订阅</th>
      <th>未订阅</th>
    </tr>
    <tr>
      <td>输出</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>输入</td>
      <td>-</td>
      <td>x</td>
    </tr>
    <tr>
      <td>导入</td>
      <td>-</td>
      <td>x</td>
    </tr>
    <tr>
      <td>循环</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>判断</td>
      <td>-</td>
      <td>x</td>
    </tr>
    <tr>
      <td>数学运算</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>函数定义</td>
      <td>-</td>
      <td>x</td>
    </tr>
    <tr>
      <td>随机数</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>整数转字符串</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>字符串转整数</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>列表</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </table>
  <h3>订阅方法：</h3>
  <p>1、输入“获取订阅编码 pro（）”，并重启解释器，获取激活码。</p>
  <p>2、输入“激活订阅编码 pro（）”，输入激活码，并重启解释器。</p>
  <h2>四、下载CLang</h2>
  <p>您的邮箱地址：</p>
  <input type="text" id="d1" placeholder="邮箱">
  <div>
    <label for="d2" id="DL">请选择版本号：</label>
    <select id="d2" name="版本号">
      <option value="1.4.0">CLang 1.4.0</option>
      <option value="1.3.2">CLang 1.3.2</option>
      <option value="1.3.1">CLang 1.3.1</option>
      <option value="1.3.0">CLang 1.3.0</option>
      <option value="1.2.2">CLang 1.2.2</option>
      <option value="1.2.1">CLang 1.2.1</option>
      <option value="1.2.0">CLang 1.2.0</option>
      <option value="0.0.1">CLang 0.0.1 纪念版</option>
    </select>
  </div>
  <button onclick="DOnChick()">申报下载</button>
  <div id="print1"></div>
  <script>
    const d1 = document.getElementById('d1');
    const d2 = document.getElementById('d2');
    const print1 = document.getElementById('print1');
    function DOnChick(){
      window.location.href = 'mailto:weiwei_2015_33@163.com?subject=下载产品&body=用户邮箱：'+d1.value+'产品名：CLang '+d2.value;
      print1.innerText = '申报成功，开发者将于3~5日内发送解释器打包文件，开发者邮箱：weiwei_2015_33@163.com。'
    }
  </script>
  <h2>五、常见问题</h2>
  <p>Q:解释器无法正确运行，一运行就报错，该怎么办？</p>
  <p>A:可能是因为环境变量路径错误或损坏，建议重装CLang，或者将CLang文件夹作为附件邮件发送给开发者进行修复。（注意：请不要修改环境变量的内容和格式）</p>
  <p>Q:无法正常运行文件，没有结果，该怎么办？</p>
  <p>A:CLang需要登录才能运行代码文件，您可以查看本网站的“使用方法”部分，了解如何使用用户系统。</p>
  <p>Q:无法使用函数定义、条件判断等高级功能，该怎么办？</p>
  <p>A:使用这些功能需要先激活pro，或者您可以使用“最新消息”中开发者公布的激活码，跳过订阅步骤。</p>
  <p>以上是所有常见问题。</p>
  <p>还有问题？</p>
  <a href="{{ url_for('ask') }}" target="top">
    <img src="../static/images/ask.png">
    <p>↑点击这里↑</p>
  </a>
  <h2>六、其他</h2>
  <a href="https://github.com/AJun-weiwei/Chinese-Language" target="top">
    <img src="../static/images/github.jpg">
    <p>↑GitHub仓库↑</p>
  </a>
  <a href="https://ybccode.com/" target="top">
    <img src="../static/images/ybc.png">
    <p>↑关于猿编程↑</p>
  </a>
  <a href="{{ url_for('xp') }}" target="top">
    <img src="../static/images/xp.png">
    <p>↑关于XP++↑</p>
  </a>
  <h2>七、上传CLang代码</h2>
  <form method="POST" enctype="multipart/form-data" action="/file">
    <div>
      <p>文件名：</p>
      <input name="FileName" placeholder="文件名">
    </div>
    <div>
      <p>内容：</p>
      <textarea name="File" placeholder="内容" id="F"></textarea>
    </div>
    <input type="submit" value="提交">
  </form>
  <h1>八、所有代码文件入口</h1>
  <table id="DTable" border="5">
    <thead>
    <tr>
      <th>文件名</th>
      <th>入口</th>
    </tr>
    </thead>
    <tbody>
    {% for name,href in data.items() %}
      <tr>
        <td>{{name}}</td>
        <td>
          <a href="{{href}}">{{href}}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <h2>八、上传你的开源作品</h2>
  <form method="POST" enctype="multipart/form-data" action="/upload">
    <div class="file">
      <p>文件名：</p>
      <input placeholder="文件名" name="FN">
      <p>制作人：</p>
      <input placeholder="昵称" name="FU">
      <p>简介HTML页面：</p>
      <input type="file" name="FH">
      <p>开源文件：</p>
      <input type="file" name="F">
      <br>
      <input type="submit" value="上传">
    </div>
  </form>
  <h2>九、社区所有开源项目</h2>
  <img src="../static/images/开源.jpg">
  <table id="FTable" border="5">
    <thead>
    <tr>
      <th>文件名</th>
      <th>发布人</th>
      <th>HTML页面入口</th>
      <th>源代码入口</th>
      <th>点赞数</th>
      <th>为TA点赞</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
      <tr>
        <td>{{file[0]}}</td>
        <td>{{file[1]}}</td>
        <td>
          <button><a href="{{file[2]}}">Html入口</a></button>
        </td>
        <td>
          <button><a href="{{file[3]}}">文件入口</a></button>
        </td>
        <td>{{file[4]}}</td>
        <td>
          <button><a href="{{file[5]}}">点赞</a></button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <h1>开发者GitHub账号：AJun-weiwei</h1>
  <h1>开发者邮箱：weiwei_2015_33@163.com</h1>
  <h1>以上是本网站的所有内容，欢迎再次访问！</h1>
</div>
</body>
</html>
